*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
echo app/google-services.json >> .gitignore
echo google-services.json >> .gitignore
echo *.jks >> .gitignore
echo *.keystore >> .gitignore
echo .env >> .gitignore
echo .env.* >> .gitignore
